

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Products ({{productsCount}})</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-10">
          {{input type='text' value=filter classNames='form-control' placeholder='Filter'}}
        </div>
        <div class="col-md-2">
          {{#link-to 'products.new' class="btn btn-primary"}}New product{{/link-to}}
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <table class="table table-striped">

        <tr>
          <th class="action" {{action 'sortBy' 'name'}}>Name</th>
          <th class="action" {{action 'sortBy' 'code'}}>Code</th>
          <th class="action" {{action 'sortBy' 'price'}}>Price</th>
          <th class="action" {{action 'sortBy' 'stock'}}>Stock</th>
          <th></th>

        </tr>

        {{#each sortedProds}}

          <tr {{bind-attr class="isLowOnStock:danger"}}>
            <td>{{name}}</td>
            <td>{{code}}</td>
            <td>{{price}}</td>
            <td>{{stock}}</td>
            <td>{{#link-to 'products.product' this}}View{{/link-to}}</td>
          </tr>
        {{/each}}

      </table>
    </div>
  </div>
</div>


