
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>New Product</h2>
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-8 col-md-offset-2">
      
      <form role="form">

        <div class="form-group">
          <label for="code">Code</label>
          {{input value=code class="form-control"}}
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name class="form-control"}}
        </div>
      
        <div class="form-group">
          <label for="description">Description</label>
          {{textarea value=description cols=80 rows=6 class="form-control"}}
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          {{input value=price class="form-control"}}
        </div>

        <div class="form-group">
          <label for="stock">Stock</label>
          {{input value=stock class="form-control"}}
        </div>

        <button type="button" class="btn btn-default" {{action 'save' this}}>Submit</button>
      </form>

    </div>
    
  </div>

</div>



