
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>{{name}} ({{code}})</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<p>{{description}}</p>

		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
	
			<h1><small>Add a review!</small></h1>
			
			<div class="form-group">
        {{input type="text" value=title class="form-control" placeholder="Title"}}
      </div>

      <div class="form-group">
        {{textarea value=text  class="form-control" placeholder="Review"}}
      </div>

			<input type='button' value='Save Product' {{action 'createReview'}}>

		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<h1><small>Check out our awesome reviews!</small></h1>

			{{#each reviews}}
				<div class="panel panel-primary">
					<div class="panel-heading">{{title}}</div>
				  <div class="panel-body">{{text}}</div>
				</div>
			{{/each}}

			
		</div>
	</div>
</div>